:root{
    --color-bisque: rgb(228, 195, 171);
    --color-dark: #030303;
    --color-white: white;
    --size-btn-collapse: 10.5rem;
    --time-animation: 0.3s;
    --box-shadow: 3px 7px 7px rgba(0 0 0 /22%);
}
*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body {
    font-family: Poppins;
}

.parent {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 64.19px 1fr 64.19px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer"; 
}
header {
    grid-area: header;
    background: #ffffff;
    position: absolute;
    height: 64.19px;
    width: 100%;
}

main{
    grid-area: main;
}

.section-main {
    animation: animate 30s ease-in-out infinite;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -64.19px;
}

footer {
    background: #ffffff;
    grid-area: footer;
    height: 64.19px;
    width: 100%;
    text-align: center;
}

#products_container {
    grid-area: products;
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    background-color: #a4edff;
}

@keyframes animate {
    0%,
    100% {
        background-image: url(/Images/106228462_157309839247481_3787573172164807353_n.jpg);
    }
    25% {
        background-image: url(/Images/106273077_577520739790353_8598128563930940891_n.jpg);
    }
    50% {
        background-image: url(/Images/106384926_2399000037066659_3468089574427602105_n.jpg);
    }
    75% {
        background-image: url(/Images/106717415_729304894570086_2594613772598327110_n.jpg);
    }
}

.text--medium {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ecf0f1;
}

.cards {
    margin: 1rem;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    grid-column-end: span 3;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}