* {
    margin: 0%;
    padding: 0%;
    font-family: 'Typewriter';
    box-sizing: border-box;
}


/*seccion del codigo para el maquetado de mi html principal*/

@font-face {
    font-family: 'Typewriter';
    src: url('fonts/Typewriter.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}

.parent {
    height: 100vh;
    display: grid;
    grid-template-areas: 'header header' 'contenido contenido ' 'footer footer';
    grid-template-rows: 30% auto 20%;
    grid-template-columns: 100%;
}

.header {
    grid-area: header;
}

.header,
.main {
    background-color: pink;
}

.main {
    grid-area: contenido;
    display: flex;
}

.footer {
    grid-area: footer;
    background-color: bisque;
}


/*seccion del codigo para el menu de mi html principal*/

.nav_toggle {
    position: absolute;
    cursor: pointer;
    margin: 0.1rem;
    right: 0%;
}

.nav_toggle svg {
    width: 1rem;
}

.nav_toggle .close {
    display: none;
}

.nav_toggle .close,
.nav_toggle .menu {
    margin-top: 0.3rem;
}

.nav_checkbox {
    display: none;
}

.nav_menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

.nav_menu li {
    list-style-type: none;
    display: none;
}

.nav_menu li:first-child {
    margin-right: auto;
    display: block;
}

.nav_menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
}

.menu_logo {
    height: 40px;
}

.menu_logo img {
    height: 100%;
}

#nav_checkbox:checked~ul.nav_menu li {
    display: block;
}

#nav_checkbox:checked~label.nav_toggle .close {
    display: block;
}

#nav_checkbox:checked~label.nav_toggle .menu {
    display: none;
}

@media only screen and (min-width: 500px) {
    .nav_toggle {
        display: none;
    }
    .nav_menu {
        flex-direction: row;
    }
    .nav_menu li {
        display: block;
    }
}