:root{
    --color-bisque: rgb(228, 195, 171);
    --color-dark: #030303;
    --color-white: white;
    --color-lightwhite: #d9fffc;
    --color-copy:#8fcbdd;
    --size-btn-collapse: 10.5rem;
    --time-animation: 0.3s;
    --box-shadow: 3px 7px 7px rgba(0 0 0 /22%);
}
*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#products_container{ /*scroll correcto de la pagina*/
    scroll-margin-top: 64px;
}

.parent {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 64.19px 1fr auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer"; 
}
header {
    grid-area: header;
    background: #ffffff;
    position: absolute;
    height: 64.19px;
    width: 100%;
    font-family: 'Poppins';
}

main{
    grid-area: main;
}

.section-main {
    animation: animate 30s ease-in-out infinite;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -64.19px;
}

@keyframes animate {
    0% {
        background-image: url(/Images/1.jpg);
    }
    25% {
        background-image: url(/Images/2.jpg);
    }
    50% {
        background-image: url(/Images/3.jpg);
    }
    75% {
        background-image: url(/Images/4.jpg);
    }
    100%{
        background-image: url(/Images/5.jpg);
    }
}
footer {
    background: #ffffff;
    grid-area: footer;
    width: 100%;
    text-align: center;
}

.text--medium {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ecf0f1;
}

.cards {
    margin: 1rem;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    grid-column-end: span 3;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: scale(1.04);
    transition: 0.6s;
}

.card__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card__image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__content {
    padding: 20px;
}

.card__title {
    margin-bottom: 20px;
    color: #000000;
}

@media only screen and (max-width: 1000px) {
    .card {
        grid-column-end: span 6;
    }
}

@media (max-width: 720px) {
    .section-main {
        text-align: center;
        font-size: 2rem;
        height: 364.19px;
    }
    #products_container {
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 12;
    }
    .section-main h1 {
        color: rgba(255, 255, 255, 0.8);
    }
}

.section-main h1 {
    color: rgb(255, 255, 255);
    font-size: 3.8rem;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-decoration: none solid;
    text-align: center;
    text-indent: 0px;
    line-height: 80px;
    text-shadow: 0 0 3px #fff, 0 0 3px #000000;
}

header.down {
    background: #ffffffc5;
}

@media (min-width:721px) {
    header {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 64.19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem;
        transition: 0.6s;
        background-color: white;
    }
    .social-networks {
        display: none;
    }
    .nav-main__btn-collapse {
        display: none;
    }
    .nav-main a {
        color: inherit;
        text-decoration: none;
        position: relative;
    }
    .nav-main {
        display: flex;
        align-items: center;
    }
    .nav-menu__menu {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 64.16px;
        left: 0;
    }
    .nav-menu__menu a {
        margin-right: 2.3rem;
        font-size: 16px;
        text-transform: uppercase;
    }
    .nav-menu__menu a:hover {
        transition: 0.3s;
        color: rgb(84, 250, 228);
    }
    .left {
        position: absolute;
        left: 2rem;
    }
    .left i {
        display: none;
    }
    .right {
        position: absolute;
        right: 2rem;
    }
    .logo {
        position: absolute;
        left: 50%;
    }
    .logo img {
        --size: 45px;
        width: var(--size);
        height: var(--size);
        transition: 0.5s;
    }
    .logo img:hover {
        transition: 0.5s;
        transform: scale(1.1);
    }
}
@media (max-width:720px) {
    header {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 64.19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 1.2rem;
        transition: 0.6s;
    }
    .social-networks {
        display: block;
    }
    .nav-main__btn-collapse {
        display: block;
    }
    .nav-main a {
        color: inherit;
        text-decoration: none;
        position: relative;
    }
    .nav-main {
        padding: 0.6rem 1.2rem;
        display: flex;
        align-items: center;
    }
    .nav-main__btn-collapse-icon {
        --size: 45px;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background-color: var(--color-white);
        padding: 0.6rem 0.3rem;
        z-index: 10;
        cursor: pointer;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .icon-nav {
        display: block;
        width: 60%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        transition: transform var(--time-animation);
    }
    .nav-main__btn-collapse {
        display: none;
    }
    .nav-main__btn-collapse:checked+.nav-main__btn-collapse-icon .icon-nav:first-child {
        transform: translateY(0.5em) rotate(45deg);
    }
    .nav-main__btn-collapse:checked+.nav-main__btn-collapse-icon .icon-nav:nth-of-type(2) {
        transform: scale(0);
    }
    .nav-main__btn-collapse:checked+.nav-main__btn-collapse-icon .icon-nav:last-child {
        transform: translateY(-0.6em) rotate(-45deg);
    }
    .nav-main__btn-collapse-bg {
        height: 64.19px;
        width: var(--size-btn-collapse);
        position: absolute;
        left: 0px;
        top: 0px;
        transform: translateX(calc(var(--size-btn-collapse)/2*-1));
        transition: transform var(--time-animation);
    }
    .nav-main__btn-collapse:checked~.nav-main__btn-collapse-bg {
        transform: translateX(0);
    }
    .social-networks {
        background-color: var(--color-dark);
        border-radius: 0.1rem 1rem 1rem;
        padding: 0.4rem;
        padding-left: 1.5rem;
        color: var(--color-white);
        box-shadow: var(--box-shadow);
        z-index: 1;
        margin-left: -1rem;
        transform: scaleX(0);
        transition: transform var(--time-animation);
        transform-origin: left;
    }
    .social-networks__link-item {
        margin: 0 1rem;
        opacity: 0;
    }
    .nav-main__btn-collapse:checked~.social-networks {
        transform: scaleX(1);
    }
    .nav-main__btn-collapse:checked~.social-networks .social-networks__link-item {
        animation: effectOpacity var(--time-animation) 0.2s forwards;
    }
    .nav-menu__menu {
        background-color: white;
        position: absolute;
        left: 0;
        top: 64px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 300px;
        padding: 2rem;
        font-weight: 500;
        color: black;
        transform: scaleY(0);
        transition: 0.6s;
        transform-origin: top;
    }
    .nav-menu__menu.down {
        background-color: #ffffffc5;
    }
    .nav-main__link-item {
        margin-bottom: 2rem;
        opacity: 0;
        display: flex;
        align-items: center;
    }
    .nav-main__link-item>.fa {
        display: inline-block;
        margin-right: 0.6rem;
    }
    .right .nav-main__link-item:first-child {
        display: none;
    }
    .nav-main__btn-collapse:checked~.nav-menu__menu {
        transform: scaleY(1);
    }
    .nav-main__btn-collapse:checked~.nav-menu__menu .nav-main__link-item {
        animation: effectOpacity var(--time-animation) 0.3s forwards;
    }
    .logo {
        position: absolute;
        right: 2rem;
        padding: 0.6rem 0.3rem;
        transition: var(--time-animation)/2;
    }
    .logo img {
        --size: 45px;
        width: var(--size);
        height: var(--size);
    }
    .logo img:hover {
        transition: 1s;
        transform: scale(1.1);
    }
}
@keyframes effectOpacity {
    to {
        opacity: 1;
    }
}

.to-top {
    background: rgb(255, 255, 255);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    box-shadow: var(--box-shadow);
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}